<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Simple MVC Example</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" type="text/css"/>
    </head>
    <body>
        <div th:replace="fragments/navigation :: navigation"></div>
            <h1 th:text="'Welcome to GigTracker'" />
            <div class="main">
                <h2>About:</h2>
                <p th:text="'This is a simple demo web application allowing you to register new music events and view up
                 coming events. This application is built with Spring Boot MVC / JPA and make use of the embedded Tomcat
                  Spring Boot includes in the executable jar file and is connected to a Mysql Database. This application
                   runs inside Docker containers - the MVC application and the database are deployed and run in separate
                  container and take advantage of Dockers container linking features to allow them to communicate -
                  making this a fully containerised application.'" />
                <p th:text="'I will be expand the functionality / complexity of this app so stayed tuned'"/>
            </div>
    </body>
</html>