<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Simple MVC Example</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" type="text/css"/>
    </head>
    <body>
    <div th:replace="fragments/navigation :: navigation"></div>

    <h1>New Customer:</h1>
    <div>
        <form class="form-main" action="#" th:action="@{/user}" th:object="${user}" method="post">
            <div class="form-left">
                <label>First Name:</label>
                <label>Last Name:</label>
                <label>Email Address</label>
            </div>
            <div class="form-right">
                <input type="text" th:field="*{firstName}" size="30" />
                <input type="text" th:field="*{lastName}" size="30" />
                <input type="text" th:field="*{emailAddress}" size="30" />
            </div>
            <div class="form-submit">
                <input value="Submit" type="submit"/>
                <input value="Reset" type="reset"/>
            </div>
        </form>
    </div>
    </body>
</html>