<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register Event</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" type="text/css"/>
    </head>
    <body>
    <div th:replace="fragments/navigation :: navigation"></div>

    <h1>Register new event:</h1>
    <div>
        <form class="form-main" action="#" th:action="@{/event}" th:object="${event}" method="post">
            <div class="form-left">
                <label>Band:</label>
                <label>Venue:</label>
                <label>City:</label>
                <label>Date:</label>
            </div>
            <div class="form-right">
                <input type="text" th:field="*{band}" size="30" />
                <input type="text" th:field="*{venue}" size="30" />
                <input type="text" th:field="*{city}" size="30" />
                <input type="text" th:field="*{date}" size="30" />
            </div>
            <div class="form-submit">
                <input value="Submit" type="submit"/>
                <input value="Reset" type="reset"/>
            </div>
        </form>
    </div>
    </body>
</html>